body {
  display: flex;
  justify-content: center;
}

.text-editor {
  display: flex;
  width: 600px;
}

.text-editor ul > li {
  list-style-type: none;
}

.text-editor ul {
  padding: 0;
  margin: 0;
}

.text-editor ul li {
  padding: 5px 0;
}

.text-editor .text-editor__canvas {
  flex-wrap: wrap;
  border: 1px black solid;
  min-height: 200px;
  width: 60%;
  padding: 5px;
}

.text-editor .text-editor__canvas p {
  padding: 0;
  margin: 0;
}

.text-editor .text-editor__controls {
  margin-left: 10px;
  width: 40%;
}

.text-editor .text-editor__controls li {
  display: flex;
  justify-content: space-between;
}

.text-editor .text-editor__controls li input,
.text-editor .text-editor__controls li select {
  width: 100px;
}

.text-editor .error {
  color: red;
}
